# Terraform working directories
**/.terraform/*

# Local Terraform variable files and state
*.tfvars
!*.tfvars.example
backend.hcl
!backend.hcl.example
!infra/stage/backend.hcl
!infra/bootstrap/backend.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Terraform plan files
*.tfplan
